# Choisir la langue, le pays et le paramétrage du clavier
d-i debian-installer/language string fr
d-i debian-installer/country string FR
d-i debian-installer/locale string fr_FR.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr

# Réseau Wifi
d-i netcfg/choose_interface select manual
d-i netcfg/wireless_essid string WiFi@YNOV
d-i netcfg/wireless_key string benjamin.ferrandez@ynov.com

# Dépôt Debian français
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.fr.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Partitionnement automatique avec un seul disque
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Création des utilisateurs
d-i passwd/root-password-crypted password $6$rounds=4096$dB.TIja7WEUv1GSc$YrRPC5xPDoIZQQ7.Q51EzITt5PKYMV19q94h9Z6tV1sXNzBhFMPpHFUbu7AgxIFUQMOk5p.zN98GE9oYOOy9i1
d-i passwd/user-fullname string User1
d-i passwd/username string user1
d-i passwd/user-password-crypted password $6$rounds=4096$dB.TIja7WEUv1GSc$YrRPC5xPDoIZQQ7.Q51EzITt5PKYMV19q94h9Z6tV1sXNzBhFMPpHFUbu7AgxIFUQMOk5p.zN98GE9oYOOy9i1

# Logiciels à installer
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server htop

# Configurer le fichier /home/helloworld.txt
d-i preseed/late_command string echo 'Hello, World!' > /target/home/helloworld.txt

# Désactiver l'écran de configuration après l'installation
d-i finish-install/reboot_in_progress note
